*.autosave
*.kdev4
*.orig
*.sdf
*.suo

build*
/.cache/
/.vs/
/.idea/
/cmake-build-debug
/Testing
*.user
.DS_Store
.cproject
.project
.settings/language.settings.xml
.vscode/launch.json
.vscode/tasks.json
*.solutions/*
.settings/*
/CMakeSettings.json
CMakeLists.txt.user.*
/enc_temp_folder/

*.cpp.gch

# Exclude Boost library files
boost_*

# Exclude CMake files
CMakeFiles/
CTestTestfile.cmake
cmake_install.cmake

# Exclude ONNX Runtime build files
onnxruntime/build/
onnxruntime/install/
