*.autosave
*.kdev4
*.orig
*.sdf
*.suo

build*
/.cache/
/.vs/
/.idea/
/cmake-build-debug
/Testing
*.user
.DS_Store
.cproject
.project
.settings/language.settings.xml
.vscode/launch.json
.vscode/tasks.json
*.solutions/*
.settings/*
/CMakeSettings.json
CMakeLists.txt.user.*
/enc_temp_folder/

*.cpp.gch

# Build artifacts
*.ninja_deps
*.ninja_log
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
cmake_install.cmake
bin/
boost-prefix/
boost_1_85_0.tar.gz
boost_1_85_0/
*.tar.gz*
**/Debug/
