name: C/C++ CI

on: [push]

jobs:
  build-in-macos:

    runs-on: macos-latest
    
    steps:
    - uses: actions/checkout@v3
    - name: Create Build Dir
      run: cmake -E make_directory ${{github.workspace}}/build
    - name: Configure
      working-directory: ${{github.workspace}}/build
      run: cmake ${{github.workspace}} -DCMAKE_BUILD_TYPE=Debug -DOPENMIND_BUILD_SAMPLES=OFF -DOPENMIND_BUILD_TESTS=ON -DOPENMIND_REQUIRED_BOOST_VERSION="1.83.0"
    # - name: Install prerequisites
    #   working-directory: ${{github.workspace}}/build
    #   run: cmake --build ${{github.workspace}}/build --target prerequisites -j `sysctl -n hw.ncpu`
    # - name: Reconfigure to detect newly installed prerequisites
    #   working-directory: ${{github.workspace}}/build
    #   run: cmake .
    # - name: Build
    #   working-directory: ${{github.workspace}}/build
    #   run: cmake --build ${{github.workspace}}/build -j `sysctl -n hw.ncpu`
    # - name: Check
    #   working-directory: ${{github.workspace}}/build
    #   run: ctest --timeout 120 -C Debug -j `sysctl -n hw.ncpu`